 
  .loader__row {
    position: relative;
    animation: loader-rotate 2s infinite linear;
  }
  
  .loader__item {
    position: absolute;
    top: 0;
    background-color: #337ab7;
    border-radius: 100%;
    animation: loader-bounce 2s infinite ease-in-out;
  }
  
  .loader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
  }
  
  @keyframes loader-rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes loader-bounce {
  
    0%,
    100% {
      transform: scale(0);
    }
  
    50% {
      transform: scale(1);
    }
  }
  