.chat{
    width: 100%;
    margin-left: 40px;
}
.chat__header {
    padding: 10px 50px;
    display: flex;
    align-items: center;
    height: 100px;
    background: #FAFBFF;
    border-radius: 6px 6px 0px 0px;
    border-bottom: 1px solid #B7BDCB;
}

.chat__messages {
    padding: 20px 50px;
    height: calc(100vh - 340px);
    overflow-y: scroll;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column-reverse;
}

.chat__messages::-webkit-scrollbar {
    width: 6px;
    background: none;
}

.chat__messages::-webkit-scrollbar-thumb {
    background-color: #B7BDCB;
    border-radius: 10px;
    padding-right: 10px;
}

.chat__messages-companion {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 5px;
}

.chat__message-companion {
    word-break: break-all;
    max-width: 450px;
    padding: 12px 20px;
    background: linear-gradient(90.54deg, #60A9F6 0%, #2A8BF2 100%);
    color: #FFFFFF;
    box-shadow: 10px 10px 25px rgba(42, 139, 242, 0.1), 15px 15px 35px rgba(42, 139, 242, 0.05), 10px 10px 50px rgba(42, 139, 242, 0.1);
    border-radius: 0px 10px 10px 10px;
}

.chat__messages-user {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
}

.chat__messages-element-user {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.chat__message-user {
    word-break: break-all;
    max-width: 450px;
    padding: 12px 20px;
    background-color: #FFFFFF;
    border: 1px solid rgba(112, 124, 151, 0.25);
    box-shadow: 10px 10px 25px rgba(112, 124, 151, 0.05), 15px 15px 35px rgba(112, 124, 151, 0.05);
    border-radius: 10px 10px 0px 10px;
}


.chat__messages-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
}

.chat__header-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.chat__new-messages {
    background-color: #FFFFFF;
    width: 100%;
    padding: 0 50px 20px;
    display: flex;
}

.chat__new-messages-container {
    display: flex;
    padding-top: 10px;
    border-top: 1px solid #B7BDCB;
    width: 100%;
}

.chat__new-messages-container input {
    border: none;
    outline: none;
    width: 100%;
}

.chat__new-messages-container button {
    border-radius: 50%;
    min-width: 40px;
    height: 40px;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    background: linear-gradient(325.78deg, #2A8BF2 14.76%, #7CB8F7 87.3%);
    box-shadow: 4px 4px 25px rgba(42, 139, 242, 0.15), 2px 2px 25px rgba(42, 139, 242, 0.05), 4px 6px 10px rgba(42, 139, 242, 0.15);
}