@keyframes translate {
    0% {
        transform: translateX(30px);
        display: flex;
        opacity: 0.4;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.login {
    position: relative;
    margin-top: 120px;
}

.login-error {
    width: 100%;
    top: -60px;
    animation-name: translate;
    animation-duration: 2s;
    position: absolute;
    background: #FFFFFF;
    border-radius: 6px;
    box-shadow: 0px 10px 55px rgba(0, 0, 0, 0.05), 0px 4px 10px rgba(0, 0, 0, 0.25), 0px 10px 25px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    padding: 10px;
}

.login__container {
    align-self: center;
    background: #FFFFFF;
    border-radius: 6px;
    padding: 30px 40px;
    box-shadow: 0px 10px 55px rgba(0, 0, 0, 0.05), 0px 4px 10px rgba(0, 0, 0, 0.25), 0px 10px 25px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__container>h2 {
    font-size: 36px;
    color: #0D1C2E;
    line-height: 36px;
    margin-bottom: 20px
}

.login__container>form {
    display: flex;
    flex-direction: column;
}

.login__element {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 20px;
    align-items: baseline;
}

.login__element input {
    margin-left: 10px;
    height: 40px;
    border-radius: 6px;
    background-color: #FDFBFD;
    border: 1px solid #e1e3e6;
}

.login__element input:focus-visible {
    outline: 1px solid #7CB8F7;
}

.login__submit {
    color: #FFFFFF;
    height: 40px;
    font-size: 20px;
    padding: 5px;
    margin-bottom: 10px;
    background: linear-gradient(92.68deg, #7CB8F7 0%, #2A8BF2 100%);
    box-shadow: 6px 6px 25px rgba(42, 139, 242, 0.15), 4px 4px 25px rgba(42, 139, 242, 0.05), 10px 6px 25px rgba(42, 139, 242, 0.15);
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

.login__submit:hover {
    opacity: 0.8;
}

.login__another-button {
    background: none;
    border: none;
    color: #2A8BF2;
    cursor: pointer;
}

.login-loader {
    position: absolute;
    top: -60px;
    left: calc(50% - 25px);
}